.App {
  text-align: center;
}
form{
  display:inline-block;
  padding: 25px;
  background-color: #C6E2B5;
  width:50%;
  border:2px rgb(226, 12, 12);
  border-radius: 20px;
  
  
}
form label{
  display:inline-block;
  width:100px;
}
form div{
  margin: 15px;
}
span{
  display:inline-block;
  width:75px;
  text-align: left;
  margin-left: 20px;
  color:white
}

